{% extends 'registration/base.html' %}
{% block title %}{% block title-meta %} پاک کردن جستار {% endblock %}{% endblock %}

{% block main %}
<div class="col-md-8 text-center mx-auto">
    <!-- general form elements -->
        <div class="card card-danger">
            <div class="card-header">
                <h3 class="card-title float-left">پاک کردن جستار</h3>
            </div>
            <div class="card-body py-4">
               <form enctype="multipart/form-data" method="POST">
                    {% csrf_token %}
                    <p> آیا می‌خواهید جستار "{{object}}" از "{{object.author.get_full_name}}" پاک گردد؟ </p>
                    <input type="submit" class="btn btn-danger" value="زدودن">
                    <a href="{% url 'account:home' %}" class="btn btn-primery">مایل نیستم</a>
                </form>
            </div>
        </div>
</div>
{% endblock %}