{% extends 'registration/base.html' %}

{% block title %}{% block title-meta %} بخش جستارها {% endblock %}{% endblock %}
{% block main %} 

<div class="row">
    <div class="col-12">
      <div class="card">
        <!-- /.card-header -->
        <div class="card-body table-responsive p-0">
          {% if object_list %}
          <table class="table table-hover">
            <thead>
              <tr>
                <th>سرنام</th>
                <th>فرتور</th>
                <th>نویسنده</th>
                <th>دسته‌بندی</th>
                <th>نوشتار</th>
                <th>تاریخ انتشار</th>
                <th>وضعیت</th>
              </tr>
            </thead>
            <tbody>
                {% for ar in object_list %} 
                    <tr>
                      <td>
                        {% if ar.status == 'd' or user.is_superuser %}
                            <a href="{% url 'account:article-update' ar.pk %}">{{ar.title}}</a>
                        {% else %}
                            {{ar.title}}
                        {% endif %}
                      </td>
                      <td><img src="{{ ar.thumbnail.url }}" alt="{{ar.title}}"></td>
                      <td>{{ ar.author.get_full_name }}</td>
                      <td>{{ ar.category_to_str }}</td>
                      <td>{{ ar.body|striptags|truncatewords:"15" }}</td>
                      <td>{{ ar.jpublish }}</td>
                      <td>
                          {% if ar.status == 'p' %}
                              <span class="badge badge-success">منتشر شده</span>
                              <a href="{% url 'blog:detail_article' ar.slug %}" class="badge badge-primary" target="_blank">نمایش جستار</a>
                          {% else %}
                          <a href="{% url 'blog:preview_article' ar.pk %}" class="badge badge-secondary" target="_blank">پیش‌نمایش</a>
                          {% endif %}

                          {% if user.is_superuser %}
                              <a class="badge badge-danger" href="{% url 'account:article-delete' ar.pk %}">پاک کردن</a>
                          {% endif %}
                      </td>
                    </tr>
                {% endfor %}
            </tbody>
          </table>
          {% else %}
              <p>نوشتاری برای نمایش وجود ندارد</p>
          {% endif %}
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
  </div>

{% endblock %}
