{% extends 'blog/base.html' %}

{% block main%}
<!-- اسلایدر بالای صفحه -->
    <div class="container-fluid d-flex align-items-center py-2 cf-info">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item ">
                                <div class="row">
                                    <section class="s-books">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="img-bks">
                                                    <img src="" alt="" srcset="">
                                                </div>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="main-bks">
                                                    <h3>دریافت کتاب آموزش جنگو</h3>
                                                    <p>طرح‌نما یا لورم ایپسوم به متنی آزمایشی و بی‌معنی در صنعت چاپ،
                                                        صفحه‌آرایی و طراحی گرافیک گفته می‌شود. طراح گرافیک از این متن
                                                        به‌عنوان عنصری از ترکیب‌بندی برای پُر کردن صفحه و ارائهٔ اولیهٔ
                                                        شکل ظاهری و کلیِ طرح سفارش‌گرفته‌شده‌استفاده می‌کند، تا ازنظر
                                                        گرافیکی نشانگر چگونگی نوع</p>
                                                    <div class="info-bks">
                                                        <ul>
                                                            <li>
                                                                <i class="fa fa-user-circle" aria-hidden="true"></i>
                                                                رضا ترابی
                                                            </li>
                                                            <li>
                                                                <i class="fa fa-calendar" aria-hidden="true"></i>
                                                                20 خرداد 1399
                                                            </li>
                                                            <li>
                                                                <i class="fa fa-clock-o" aria-hidden="true"></i>
                                                                15:09
                                                            </li>
                                                        </ul>
                                                        <button class="btn btn-success"><i class="fa fa-download"
                                                                aria-hidden="true"></i>
                                                            دریافت</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                            </div>
                            <div class="carousel-item active">
                                <section class="s-books">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="img-bks">
                                                <img src="images/b1.jpg" alt="" srcset="">
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="main-bks">
                                                <h3>دریافت کتاب آموزش جنگو</h3>
                                                <p>طرح‌نما یا لورم ایپسوم به متنی آزمایشی و بی‌معنی در صنعت چاپ،
                                                    صفحه‌آرایی و طراحی گرافیک گفته می‌شود. طراح گرافیک از این متن
                                                    به‌عنوان عنصری از ترکیب‌بندی برای پُر کردن صفحه و ارائهٔ اولیهٔ شکل
                                                    ظاهری و کلیِ طرح سفارش‌گرفته‌شده‌استفاده می‌کند، تا ازنظر گرافیکی
                                                    نشانگر چگونگی نوع</p>
                                                <div class="info-bks">
                                                    <ul>
                                                        <li>
                                                            <i class="fa fa-user-circle" aria-hidden="true"></i>
                                                            رضا ترابی
                                                        </li>
                                                        <li>
                                                            <i class="fa fa-calendar" aria-hidden="true"></i>
                                                            20 خرداد 1399
                                                        </li>
                                                        <li>
                                                            <i class="fa fa-clock-o" aria-hidden="true"></i>
                                                            15:09
                                                        </li>
                                                    </ul>
                                                    <button class="btn btn-success"><i class="fa fa-download"
                                                            aria-hidden="true"></i>
                                                        دریافت</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                            <div class="carousel-item">
                                <section class="s-books">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="img-bks">
                                                <img src="images/b1.jpg" alt="" srcset="">
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="main-bks">
                                                <h3>دریافت کتاب آموزش جنگو</h3>
                                                <p>طرح‌نما یا لورم ایپسوم به متنی آزمایشی و بی‌معنی در صنعت چاپ،
                                                    صفحه‌آرایی و طراحی گرافیک گفته می‌شود. طراح گرافیک از این متن
                                                    به‌عنوان عنصری از ترکیب‌بندی برای پُر کردن صفحه و ارائهٔ اولیهٔ شکل
                                                    ظاهری و کلیِ طرح سفارش‌گرفته‌شده‌استفاده می‌کند، تا ازنظر گرافیکی
                                                    نشانگر چگونگی نوع</p>
                                                <div class="info-bks">
                                                    <ul>
                                                        <li>
                                                            <i class="fa fa-user-circle" aria-hidden="true"></i>
                                                            رضا ترابی
                                                        </li>
                                                        <li>
                                                            <i class="fa fa-calendar" aria-hidden="true"></i>
                                                            20 خرداد 1399
                                                        </li>
                                                        <li>
                                                            <i class="fa fa-clock-o" aria-hidden="true"></i>
                                                            15:09
                                                        </li>
                                                    </ul>
                                                    <button class="btn btn-success"><i class="fa fa-download"
                                                            aria-hidden="true"></i>
                                                        دریافت</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                        <ol class="carousel-indicators">
                            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                        </ol>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- بخش اصلی -->
    <div class="container">
        <div class="row ">
            <div class="col-12">
                <div class="box-abt">
                    <div class="row">
                        <div class="col-md-8">
                        {% block info %}{% endblock %}
                         {% for ar in object_list %}
                         <h1>{{name}}</h1>
                         <section class="s-post">
                            <div class="ttl-post">
                                <h2 class="h-post"><a href="{% url 'blog:detail_article' ar.slug %}">{{ar.title}}</a>!</h2>
                            </div>
                            <img src="{{ ar.thumbnail.url }}" alt="">
                            <div class="tags">
                                {% for cat in ar.category.active %}
                                <a href="{% url 'blog:catelist' cat.slug %}" class="nav-post">{{cat.title}}</a>
                                {% endfor %}
                            </div>
                            <p>
                                {{ar.body|truncatewords:60}}
                            </p>
                            <div class="ftr-post">
                                <div class="row">
                                    <div class="col-md-10">
                                        <ul>
                                            <li>
                                                <i class="fa fa-user-circle" aria-hidden="true"></i>
                                                <a href="{% url 'blog:author' ar.author %}">{{ ar.author.get_full_name }}</a>
                                            </li>
                                            <li>
                                                <i class="fa fa-calendar" aria-hidden="true"></i>
                                                {{ ar.jpublish }}
                                            </li>
                                            <li>
                                                <i class="fa fa-clock-o" aria-hidden="true"></i>
                                                {{ar.jTimepublish}}
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-md-2">
                                        <a href="{% url 'blog:detail_article' ar.slug %}" class="a-more">ادامه</a>
                                    </div>
                                </div>
                            </div>
                        </section>
                         {% endfor %}
                            
                       <!-- Paginator -->
                       {% if is_paginated %}
                       <div class="col-12 pagging">
                           <ul>
                            <li>
                            {% if page_obj.number != 1 %}
                            <a href="{% block first_page %}{% endblock %}"><i class="fa fa-angle-double-right"></i></a>
                            {% else %}
                            <i class="fa fa-angle-double-right text-secondary"></i>
                            {% endif %}
                            </li>
                               {% if page_obj.has_previous %}
                               <li>
                                   <a href="{% block pervious_page %}{% endblock %}">
                                       <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                               </li>
                               {% else %}
                               <li><i class="fa fa-angle-right text-secondary" aria-hidden="true"></i></li>
                               {% endif %}

                               {% for i in page_obj.paginator.page_range %} 
                               {% if page_obj.number == i %}
                                <li><span class="a-active">{{ i }}</span></li>
                                {% else %}
                                <li><a href="{% block current_page %}{% endblock %}">{{ i }}</a></li>
                                {% endif %} {% endfor %}

                               {% if page_obj.has_next %}
                               <li>
                                   <a href="{% block next_page %}{% endblock %}">
                                       <i class="fa fa-angle-left" aria-hidden="true"></i>
                                   </a>
                               </li>
                               {% else %}
                               <li><i class="fa fa-angle-left text-secondary" aria-hidden="true"></i></li>
                                {% endif %}
                                <li>
                                    {% if page_obj.number != page_obj.paginator.num_pages %}
                                    <a href="{% block end_page %}{% endblock %}">
                                        <i class="fa fa-angle-double-left"></i></a>
                                    {% else %}
                                    <i class="fa fa-angle-double-left text-secondary"></i>
                                    {% endif %}
                                   </li>
                                </li>
                           </ul>
                       </div>
                       {% endif %}
                       <!-- end paginator -->
                        </div>
                        <div class="col-md-4">
                            <aside>
                                <img src="images/user.jpg" alt="">
                                <p>
                                    در این پست می خواهم تجربه های خودم در این دو سال و چند ماهی که درگیر برنامه نویسی
                                    اندروید هستم را با شما در میان بگذارم. ابتدا چند تا توصیه برای کسانی که به امید یک
                                    شبه ره صد ساله را رفتن به سمت این شغل آمده اند دارم. برنامه نویسی یکی از سخت ترین
                                    مشاغل دنیاست و روز به روز هم به جای آسانتر شدن به سمت سخت تر شدن حرکت می کند.
                                </p>
                                <div class="frm-srch">
                                    <form action="post">
                                        <input type="text" name="" placeholder="جستجو..." id="">
                                        <button><i class="fa fa-search" aria-hidden="true"></i>
                                        </button>
                                    </form>
                                </div>
                                <ul class="social-list">
                                    <li><a href="#">
                                            <i class="fa fa-id-card-o" aria-hidden="true"></i>
                                            کارنامه من
                                        </a></li>
                                    <li><a href="#">
                                            <i class="fa fa-code" aria-hidden="true"></i>
                                            سفارش پروژه
                                        </a></li>
                                    <li><a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i>
                                            فیسبوکم
                                        </a></li>
                                    <li><a href="#"><i class="fa fa-twitter-square" aria-hidden="true"></i>
                                            توییترم
                                        </a></li>
                                    <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i>
                                            اینستاگرامم
                                        </a></li>
                                </ul>
                                <ul class="links-list">
                                    <li class="hdr-links-list"><a href="#">پیوندها</a></li>
                                    <li><a href="#">ویکی رخداد</a></li>
                                    <li><a href="#">میهن دانلود</a></li>
                                    <li><a href="#">فیلم دانلود</a></li>
                                    <li><a href="#">ویرگول</a></li>
                                </ul>
                            </aside>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   {% endblock %}